{% extends 'base.html' %}
{% block content %}

<!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">McSporties...</h1>
                    <p class="lead fw-normal text-white-50 mb-0">We Don't Got It, You Don't Want It.</p>
                </div>
            </div>
        </header>

        <div class="container">
        	<div class="row">
        		<center>
        			<div class="col-8">
        				<br/><br/>
<p align="justify">
One of the last rock n roll Ski Shops. 
<br/><br/>
Est. 1994
<br/><br/>
<br/>3180 Creekside way
<br/>Sun Peaks, BC
<br/>V0E 5N0<br/>
<br/><br/>
                        <br/>
                    <br/>
        			</div>
        		</center>
        	</div>
        </div>

{% endblock %}